# Add any directories, files, or patterns you don't want to be tracked by version control
*.dat
*.k*
*.vld
*.hdr
*.mtd
*.tag
*.cch
*.int
*.dsk
*.loc
*.prn
*.bak
*.pkd
*.pbg
*.fld
*.exe
*.dbg
*.trc
*.doc
*.log
*.dep
Filelist.cfg
connection.ini
DFConnId.ini
Reindex.log
Classlist.xml

